@import "../../assets/style/base";

.footer {
  background: url(/img/RightFooter.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  padding: 3rem 2rem;
}

.link {
  color: $dark;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}
