h5,
h6,
.h5,
.h6 {
  line-height: 1.5;
}

a.card {
  &:hover {
    text-decoration: 0;

    .card-title {
      color: $primary;
    }
  }
  &:focus,
  &:active {
    background-color: unset;
  }
}

blockquote {
  position: relative;

  &::before,
  &::after {
    font-size: 5rem;
    font-weight: 800;
    position: absolute;
    display: block;
  }

  &::before {
    content: '\201C';
    left: -40px;
    top: -30px;
  }

  &::after {
    content: '\201D';
    right: 0px;
    bottom: -90px;
  }
}

.filter-gray {
  filter: grayscale(100%);
}

.filter-white {
  filter: brightness(0) invert(1);
}

$font-families: (
  'sans-serif': $font-family-sans-serif,
  'display': $font-family-display,
  'monospace': $font-family-monospace,
);

@each $name, $value in $font-families {
  .font-family-#{$name} {
    font-family: $value;
  }
}

.font-size-sm {
  font-size: $font-size-sm;
}
.font-size-lg {
  font-size: $font-size-lg;
}

.font-size-xxl {
  font-size: 2.75rem;
}

.font-weight-regular {
  font-weight: 400;
}
.font-weight-medium {
  font-weight: $font-weight-medium;
}

.font-weight-semi-bold {
  font-weight: $font-weight-semi-bold;
}

.font-weight-extra-bolder {
  font-weight: $font-weight-extra-bolder;
}

.bg-cover {
  background-position: center;
  background-size: cover;
}

.bg-none {
  background-color: unset;
}

.zindex-1 {
  z-index: $zindex-1;
}

.object-fit-contain {
  object-fit: contain;
  object-position: center;
}

.object-fit-cover {
  object-fit: cover;
  object-position: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-40 {
  width: 40%;
}
.w-30 {
  width: 30%;
}

.input-group-prepend,
.input-group-append {
  .btn {
    border-width: 1px;
    border-color: $input-border-color;
    border-radius: 0;
  }
}