// Color system

$gray-100: #f4f4f4;
$gray-200: #e9ecef;
$gray-300: #e0e0e0;
$gray-400: #ced4da;
$gray-600: #54565c;
$black: #00082a;

$blue: #1991eb;
$blue-dark: #1253b4;
$red: #ed1c24;
$red-light: #ff4040;
$red-dark: #cf1219;
$red-darker: #ae0a10;
$yellow: #f7981c;
$green: #39b54a;
$gray: $gray-600;
$gray-light: $gray-300;
$gray-lighter: $gray-100;

$primary: $red;
$secondary: $green;
$success: $green;
$info: $blue;
$warning: $yellow;
$danger: $red-light;
$light: $gray-lighter;

$theme-colors: (
  'blue': $blue,
  'blue-dark': $blue-dark,
  'red': $red,
  'red-light': $red-light,
  'red-dark': $red-dark,
  'red-darker': $red-darker,
  'yellow': $yellow,
  'green': $green,
  'gray': $gray,
  'gray-light': $gray-light,
  'gray-lighter': $gray-lighter,
  'facebook': #4267b2,
  'linkedin': #0077b5,
  'skype': #00aff0,
  'whatsapp': #25d366,
  "white": white
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-prefers-reduced-motion-media-query: true !default;
$enable-grid-classes: true !default;
$enable-pointer-cursor-for-buttons: true !default;
$enable-print-styles: true !default;
$enable-responsive-font-sizes: false !default;
$enable-validation-icons: true !default;
$enable-deprecation-messages: true !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
    6: (
      $spacer * 6,
    ),
  ),
  $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto,
  ),
  $sizes
);

// Body
//
// Settings for the `<body>` element.

// $body-bg:                   $white !default;
$body-color: $black;

// Links
//
// Style anchor elements.

$link-color: $blue-dark;
$link-hover-color: darken($link-color, 15%);

// Borders

$border-color: $gray-400;
$border-radius: 0.357rem;

$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075) !default;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175) !default;

$caret-width: 0.3em !default;
$caret-vertical-align: $caret-width * 0.85 !default;
$caret-spacing: $caret-width * 0.85 !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: 'Century Gothic', 'Montserrat', -apple-system,
  BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
$font-family-display: 'SF Pro Display', 'Inter', BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', sans-serif;

$font-family-base: $font-family-sans-serif;

$font-size-base: 0.875rem;
$font-size-lg: $font-size-base * 1.143;
$font-size-sm: $font-size-base * 0.857;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bolder: 800;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;

$h1-font-size: $font-size-base * 2.2857;
$h2-font-size: $font-size-base * 2.57;
$h3-font-size: $font-size-base * 1.714;
$h4-font-size: $font-size-base * 1.2857;
$h5-font-size: $font-size-base * 1.143;
$h6-font-size: $font-size-base;

$headings-font-family: $font-family-display;
$headings-font-weight: $font-weight-semi-bold;
$headings-color: $black;

$lead-font-size: $font-size-base;
$lead-font-weight: 400;

$small-font-size: $font-size-sm;

$text-muted: $gray;

$blockquote-small-color: $gray;
$blockquote-small-font-size: $small-font-size;
$blockquote-font-size: $font-size-base;

$hr-border-color: $border-color;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: 0.375rem !default;
$input-btn-padding-x: 0.75rem !default;
$input-btn-font-family: $font-family-display;
$input-btn-font-size: $font-size-base;
$input-btn-line-height: $line-height-base !default;

$input-btn-focus-width: 0.2rem !default;

$input-btn-padding-y-sm: 0.25rem !default;
$input-btn-padding-x-sm: 0.5rem !default;
$input-btn-font-size-sm: $font-size-sm !default;

$input-btn-padding-y-lg: 1rem;
$input-btn-padding-x-lg: 1.43rem;
$input-btn-font-size-lg: $font-size-lg !default;

$input-btn-focus-color: rgba($blue, 0.25);
$input-focus-border-color: lighten($blue-dark, 25%) !default;

// Allows for customizing button radius independently from global border radius
$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !default;

// Forms
$form-group-margin-bottom: 1.43rem;

$input-border-radius: 0;
$input-padding-y: 0.825rem;
$input-padding-x: 1.25rem;

// Navs

$nav-link-padding-y: 0.5rem !default;
$nav-link-padding-x: 1rem !default;
$nav-link-disabled-color: $gray-600 !default;

$nav-tabs-border-color: $gray-300 !default;
$nav-tabs-border-radius: $border-radius !default;
$nav-tabs-link-hover-border-color: $gray-lighter $gray-lighter
  $nav-tabs-border-color !default;
$navbar-font-family: $font-family-display;
$navbar-font-weight: $font-weight-medium;

$card-border-width: 0;

$alert-border-radius: 0;
$zindex-1: 1;

$modal-inner-padding: 3rem;

// Margin between elements in footer, must be lower than or equal to 2 * $modal-inner-padding
$modal-footer-margin-between: 0.5rem !default;

$modal-dialog-margin: 0.5rem !default;
$modal-dialog-margin-y-sm-up: 1.75rem !default;

$modal-title-line-height: $line-height-base !default;

$modal-content-color: null !default;
// $modal-content-bg:                  $white !default;
$modal-content-border-color: rgba($black, 0.2) !default;
$modal-content-border-width: 0;
$modal-content-border-radius: 0;
// $modal-content-inner-border-radius: subtract($modal-content-border-radius, $modal-content-border-width) !default;
$modal-content-box-shadow-xs: 0 0.25rem 0.5rem rgba($black, 0.5) !default;
$modal-content-box-shadow-sm-up: 0 0.5rem 1rem rgba($black, 0.5) !default;

$modal-backdrop-bg: $black !default;
$modal-backdrop-opacity: 0.5 !default;
$modal-header-border-color: $border-color !default;
$modal-footer-border-color: $modal-header-border-color !default;
// $modal-header-border-width:         $modal-content-border-width !default;
// $modal-footer-border-width:         $modal-header-border-width !default;
$modal-header-padding-y: 1rem !default;
$modal-header-padding-x: 1rem !default;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

$modal-xl: 1140px !default;
$modal-lg: 680px !default;
$modal-md: 500px !default;
$modal-sm: 300px !default;

$modal-fade-transform: translate(0, -50px) !default;
$modal-show-transform: none !default;
$modal-transition: transform 0.3s ease-out !default;
$modal-scale-transform: scale(1.02) !default;

$list-group-action-active-color: theme-color('primary');
$list-group-action-active-bg: white;
$component-active-color: theme-color('primary');
$component-active-bg: white;

// Pagination
$pagination-bg: $gray-200;
$pagination-border-color: white;
$pagination-color: $black;
$pagination-active-color: $blue;
$pagination-border-width: 0;
