.whywata {
  background-image: url("/img/whywata/robot.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-top: 6rem;
  padding-bottom: 2rem;
  margin-bottom: -2px;
}