.content {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      line-height: 1.75;
      padding-left: 30px;
      &::before {
        float: left;
        background-image: url(/img/pointer.svg);
        background-repeat: no-repeat;
        content: '';
        width: 16px;
        height: 13px;
        margin-left: -30px;
        margin-top: 4px;
      }
    }
  }
}