.expertise {
  height: 296px;
  margin-top: -118px;
}

.item {
  width: 33.3333333333%;
  transition: all 300ms ease-in;
}

.itemContent {
  ul {
    padding: 0;
    list-style-type: none;
  }
  li {
    background-image: url('/img/check-circle.svg');
    background-repeat: no-repeat;
    background-position: left 0.25rem;
    padding-left: 1.5rem;
  }
}

.itemContentMobile {
  ul {
    padding: 0;
    list-style-type: none;
  }
  li {
    background-image: url('/img/check-circle.svg');
    background-repeat: no-repeat;
    background-position: left 0.25rem;
    padding-left: 1.5rem;
    font-size: smaller;
  }
}

.activeIcon {
  filter: brightness(0) invert(1);
}
