@import "../../assets/style/base";
.list {
  overflow-x: hidden;
  border-top: solid 2px $gray-300;
  border-bottom: solid 2px $gray-300;
  max-width: 960px;
}
.item {
  z-index: 1;
  color: $body-color;
  border: none;
  outline: solid 2px $gray-300;
  &:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
    z-index: 2;
    outline: none;
    text-decoration: none;
  }
}

.sidebarItem {
  &:hover {
    text-decoration: none;
    h4 {
      color: $primary !important;
    }
  }
}

.modal {
  background-image: url(/img/clientawards/bg_clientaward.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  &::before {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    content: "";
    position: absolute;
    background: linear-gradient(0,
      rgba(255, 255, 255, .7) 0%,
      rgba(255, 255, 255, 1) 40%
    );
  }
}
.modalClose {
  top: 1rem;
  right: 1rem;
}
