@import '../../assets/style/base';
.content {
  margin-top: 3rem;
  line-height: 2;

  h1,
  h2,
  h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      $bullet-space: 24px;
      list-style: 1.5;
      margin-bottom: 0.5rem;
      margin-left: $bullet-space;

      &::before {
        float: left;
        margin-left: -$bullet-space;
        content: '';
        width: 8px;
        height: 8px;
        background-color: $secondary;
        margin-top: calc(.5rem + 2px);
      }
    }
  }
}
