.wrapper {
  max-width: 800px;
  &_mobile {
    max-width: 300px;
  }
}

.slide {
  height: 480px;
  &_mobile {
    height: 580px;
  }
}

.normal {
  margin-top: 2rem;
  margin-bottom: 1rem;
  transition: all ease-in-out 300ms;
}
.active {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  margin-top: 0;
  margin-bottom: 2rem;
}

.description {
  width: 600px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.descriptionActive {
  opacity: 1;
}
