.clientAward::before {
  content: "";
  background-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.87) 12.02%,
    #ffffff 75.49%,
    rgba(255, 255, 255, 0.76) 81.77%
  );
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.list {
  max-width: 960px;
}

.link {
  background-color: #ffffff !important;
}