@import '../../assets/style/base';

.bordered {
  position: relative;
  padding: 10px;

  img {
    z-index: 2;
    position: relative;
    max-width: 100%;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 69px;
    height: 63px;
    background-color: $primary;
    z-index: 1;
  }
  &::before {
    bottom: 0;
    left: 0;
  }
  &::after {
    top: 0;
    right: 0;
  }
}

.shadowed {
  & > *:first-child {
    position: relative;
    z-index: 2;
  }

  &::after {
    position: absolute;
    background-color: black;
    opacity: .5;
    filter: blur(10px);
    content: '';
    bottom: 0;
    left: 50%;
    height: 6rem;
    transform: translateX(-50%);
    width: calc(100% - 6rem);
    z-index: 1;
  }
}