.bg {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.87) 12.02%,
    #ffffff 75.49%,
    rgba(255, 255, 255, 0.76) 81.77%
  );
  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    width: 50%;
    background-size: cover;
    z-index: -1;
  }
  &::before {
    background-image: url("/img/team/bg-l.jpg");
    background-position: center;
    left: 0;
  }
  &::after {
    background-image: url("/img/team/bg-r.jpg");
    background-position: right center;
    right: 0;
  }
}

.button {
  border-radius: 30px;
  margin: 0 .25rem;
}

.form {
  max-width: 768px;

  textarea {
    height: 180px;
  }
}

.submit {
  width: 220px;
}

.formDescription {
  max-width: 680px;
}
