@import "../../assets/style/base";

.section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  &::after {
    content: "";
    display: block;
    background: $primary;
    height: 4px;
    width: 60px;
    position: absolute;
    bottom: 0;
  }
}
.titleCenter {
  &::after {
    content: "";
    display: block;
    background: $primary;
    height: 4px;
    width: 60px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
  }
}

.serviceLiteral {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.doubleBackground {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.87) 12.02%,
    #ffffff 75.49%,
    rgba(255, 255, 255, 0.76) 81.77%
  );
  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    width: 50%;
    background-size: cover;
    z-index: -1;
  }
  &::before {
    background-image: url("/img/team/bg-l.jpg");
    background-position: center;
    left: 0;
  }
  &::after {
    background-image: url("/img/team/bg-r.jpg");
    background-position: right center;
    right: 0;
  }
}
