.softwareBg {
  background-size: cover;
  background-position: right;

  &::before {
    content: '';
    background-image: linear-gradient(#F5F4F4 0%, rgba(245, 244, 244, 0) 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}