.stats::before {
  content: "";
  background-image: linear-gradient(
    90deg,
    rgba(78, 0, 2, 0.8) 0%,
    rgba(0, 115, 16, 0.8) 51.06%,
    rgba(214, 0, 8, 0.8) 100%
  );
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
