.banner {
  height: 500px;
}

.bannerMobile {
  height: 280px;
}

.bottomGradient::after {
  content: '';
  display: block;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 38.77%,
    rgba(0, 0, 0, 0.74) 100%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

.leftGradient::after {
  content: '';
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 50%);
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 0;
}

.rightGradient::after {
  content: '';
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 50%);
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 0;
}

.bannerContent {
  position: relative;
  z-index: 3;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    columns: 2;
    li {
      margin-bottom: 1rem;
      padding-left: 2rem;
      background-image: url(/img/tick-half-circle.svg);
      background-position: left 2px;
      background-repeat: no-repeat;
    }
  }
}
